* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
  }

  :root {
    --bg : black;
    --bg_2 : white;
    --TextBlk : black;
    --TextWhite : white;
    --TextListBlk : rgba(255, 255, 255, 0.478);
    --PlaceHolbg : black;
    --Listbg : #ffffff3d;
    --Border_1 : red;
    --Border_2 : red;
    --Danger : red;
  }

  ::-webkit-scrollbar {
    appearance: none;
  }

  body {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
  }

  #DarK-Light {
    background-color: var(--bg_2);
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #inBtn {
    background-color: red;
    height: 80%;
    width: 38%;
    border-radius: 50%;
    margin: 0 5%;
  }

  #Input {
    border: 2px solid var(--Border_2);
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
  }

  #Input button {
    width: 15%;
    border-radius: 3px;
    background-color: orange;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 4vh;
  }

  #InputTag {
    width: 90%;
    height: 8vh;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--TextWhite);
    font-size: 3vh;
    padding: 0.5em 0.5em;
    letter-spacing: 1px;
    resize: none;
  }

  #InputPlaceHolder {
    background-color: var(--bg);
    position: absolute;
    top: -20%;
    left: 5vh;
    border-left: 2px solid var(--Border_2);
    border-right: 2px solid var(--Border_2);
    padding: 0 2%;
    color: var(--TextListBlk);
    transition: all 0.5s;
  }
  
  #countAlpha {
    position: absolute;
    top: 110%;
    color: rgba(255, 255, 255, 0.427);
  }

  #AlertMessage {
    color: var(--Danger);
    position: absolute;
    top: 110%;
    left: 10%;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #AlertMessage img {
    height: 80%;
    margin: 0 1%;
    opacity: 0;
  }

  #ErrMsg {
    letter-spacing: 2px;
  }

  #List {
    /*background-color: white;*/
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0.5em;
    margin-top: 50px;
  }

  #List div {
    background-color: var(--Listbg);
    color: var(--TextWhite);
    width: 90vw;
    height: 6vh;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2vh;
    font-size: 3vh;
    margin-bottom: 10px;
    border: 2px solid var(--Border_1);
  }

  #List label {
      display: flex;
  }

  #List div input[type="checkbox"] {
    appearance: none;
    height: 60%;
    width: 4.5vh;
    background-color: var(--bg_2);
    cursor: pointer;
    border-radius: 20px;
  }

  #List div input[type="checkbox"]:checked {
    background: url("https://www.shutterstock.com/image-vector/check-mark-icon-color-editable-600nw-2474013721.jpg");
    background-size: cover;
    background-position: center;
  }

  input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    text-decoration-color: var(--Danger);
    color: var(--TextListBlk);
  }

  #List div button {
    height: 100%;
    width: 10vh;
    margin-right: 2vw;
    font-size: 5vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: url("Del_img.png") no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
  }

  #List div button:active {
    transform: scale(0.8);
    transition: 0.5s;
  }


  @media (max-width: 750px) {
    #DarK-Light {
      height: 15px;
      width: 40px;
    }

    #List div {
      width: 90vw;
      height: 8vw;
      padding: 0 0 0 2vw;
      font-size: 4vw;
    }

    #List div input[type="checkbox"] {
      height: 60%;
      width: 5%;
    }

    #Input button {
      width: 20%;
    }

    #InputTag {
      width: 80%;
    }

    #List div button {
      width: 10vw;
      font-size: 5vw;
    }

    #InputTag {
      font-size: 3vw;
    }

    #Input button {
      font-size: 3vw;
    }

    #InputPlaceHolder {
      left: 5vw;
    }
  }